<div class="spinner-holder" *ngIf="pending"><div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>

<table *ngIf="!pending" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>
      <select (change)="changeCategory($event.target.value)">
        <option value="null">Select category</option>
        <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
      </select>
    </th>
    <th></th>
    <th></th>
  </tr>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let market of markets">
    <td>{{market.name}}</td>
    <td>{{market.category}}</td>
    <td>{{market.price}}</td>
    <td><input type="number" id="quantity" name="quantity" placeholder="0" min="0" #quantity></td>
    <td><button class="purchaseBtn" (click)="onPurchase(market, quantity.value)">buy</button></td>
  </tr>
  </tbody>
</table>
